$-colors: (
  "primary": (
    "base": #456dec,
  ),
  "success": (
    "base": #67c23a,
  ),
  "warning": (
    "base": #e6a23c,
  ),
  "danger": (
    "base": #f56c6c,
  ),
  "error": (
    "base": #f56c6c,
  ),
  "info": (
    "base": #909399,
  ),
);

@forward "element-plus/theme-chalk/src/common/var.scss" with (
  $colors: $-colors
);

:root {
  --el-border-radius-small: 8px;
  --el-border-radius-base: 8px;
  --el-overlay-color-lighter: rgba(0, 0, 0, 0.5);
}

.el-dialog__header {
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 1px;
}

.el-menu-vertical:not(.el-menu--collapse) {
  width: 256px;
  height: 100% !important;
}

.el-menu-vertical.el-menu--collapse {
  height: 100% !important;
}

.el-sub-menu {
  padding-left: 3px !important;
}

.el-loading-mask {
  height: 100% !important;
}

.el-alert--success.is-light {
  border: 1px solid;
}

.el-dialog__body {
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

.el-alert--error.is-light {
  border: 1px solid !important;
}
