$-colors: (
  "primary": (
    "base": #456dec,
  ),
  "success": (
    "base": #67c23a,
  ),
  "warning": (
    "base": #e6a23c,
  ),
  "danger": (
    "base": #f56c6c,
  ),
  "error": (
    "base": #f56c6c,
  ),
  "info": (
    "base": #909399,
  ),
);

@forward "element-plus/theme-chalk/src/common/var.scss" with (
  $colors: $-colors
);

:root {
  --el-border-radius-small: 8px;
  --el-border-radius-base: 8px;
  --el-overlay-color-lighter: rgba(0, 0, 0, 0.5);
}

.el-dialog__header {
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 1px;
}

.el-menu-vertical:not(.el-menu--collapse) {
  width: 256px;
  height: 100% !important;
}

.el-menu-vertical.el-menu--collapse {
  height: 100% !important;
}

.el-sub-menu {
  padding-left: 3px !important;
}

.el-loading-mask {
  height: 100% !important;
  z-index: 9999 !important;
}

.el-alert--success.is-light {
  border: 1px solid !important;
}

.el-dialog__body {
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  padding: 24px !important;
}

.el-alert--error.is-light {
  border: 1px solid !important;
}

.el-sub-menu .el-menu-item,
.el-sub-menu__title {
  height: 45px !important;
}

.el-menu-item-group {
  margin-top: -14px !important;
  padding-left: 4px !important;
}

.el-alert__content {
  color: black !important;
  font-weight: 400 !important;
}

.el-alert__title.is-bold {
  font-weight: 400 !important;
}

.el-alert__description {
  color: black !important;
}

.el-alert {
  --el-alert-icon-large-size: 24px !important;
}

.el-alert .el-alert__icon.is-big {
  margin-top: -24px !important;
}

.el-form-item.is-error.is-required.asterisk-left {
  margin-bottom: 34px !important;
}

.el-form-item {
  height: 40px !important;
  // margin-bottom: 32px !important;
}

.bg-white.rounded-lg.p-5.shadow-custom-lg {
  height: 800px !important;
}

.el-select-dropdown__item {
  height: auto !important;
  border-radius: 0.25rem !important;
  padding: 0 !important;
}
.el-scrollbar__view.el-select-dropdown__list {
  padding: 8px !important;
}

.el-select-dropdown__item.selected {
  color: rgba(0, 0, 0, 0.87) !important;
  font-weight: normal !important;
}

.el-form-item__label {
  padding: 0 !important;
  margin-top: 0.25rem;
}

.el-select-dropdown__header {
  border-bottom: 0 !important;
  padding-bottom: 0 !important;
}

.el-menu-item.is-active {
  background-color: #456dec!important;
  color: white;
}

.el-upload-dragger {
  background-color: rgba(250, 250, 250, 1)!important;
}

.el-input {
  height: 40px !important;
}