:root {
  --el-color-primary-dark: #2f4ee0;
}

/* .el-alert */
body .el-alert--success.is-light {
  border: 1px solid;
  margin-top: -1rem;
}

body .el-alert--error.is-light {
  border: 1px solid;
  margin-top: -1rem;
}

body .el-alert__content {
  color: black !important;
  font-weight: 400;
}

body .el-alert__title.is-bold {
  font-weight: 400;
}

body .el-alert__description {
  color: black !important;
}

body .el-alert {
  --el-alert-icon-large-size: 24px;
}

body .el-alert .el-alert__icon.is-big {
  align-self: flex-start;
  margin-top: -1px;
}
/* .el-alert END*/

/* .el-button */
body .el-button {
  box-shadow: var(--el-box-shadow-button);
}

body .el-button:not(.is-disabled):hover {
  --el-button-hover-text-color: var(--el-color-primary-dark);
  --el-button-hover-bg-color: var(--el-color-white);
  --el-button-hover-border-color: var(--el-color-primary-dark);
  box-shadow: var(--el-box-shadow-button-hover);
}

body .el-button.el-button--primary:not(.is-disabled):hover {
  --el-button-hover-text-color: var(--el-color-white);
  --el-button-hover-bg-color: var(--el-color-primary-dark);
  box-shadow: var(--el-box-shadow-button-hover);
}
/* .el-button END */

/* .el-dialog */
body .el-dialog__header {
  font-weight: bold;
  letter-spacing: 1px;
  padding: var(--el-dialog-padding-header);
}

body .el-dialog__body {
  border-top: 1px solid lightgray;
}
body .conn-set-dialog > .el-dialog__body {
  padding-bottom: 1rem;
}

body .el-dialog__footer {
  border-top: 1px solid lightgray;
  padding: var(--el-dialog-padding-footer);
}
/* .el-dialog END*/

/* .el-form */
body .login-form > .el-form-item {
  margin-bottom: 2rem;
}
/* .el-form END */

/* .el-form-item */
body .el-form-item__error {
  margin: 4px 8px 4px 8px;
}

body .el-form-item__label {
  /* padding: 0; */
  /* margin-top: 0.25rem; */
}

body .conn-set-form > .el-form-item:not(:last-child) {
  margin-bottom: 2rem;
}

body .data-mart-upload.el-form-item {
  align-items: flex-start;
}
body .data-mart-upload.el-form-item__label {
  align-items: flex-start;
}

body .data-mart-form > .el-form-item:not(:last-child) {
  margin-bottom: 2rem;
}
/* .el-form-item END */

/* .el-menu */
body .el-menu-item.is-active {
  background-color: var(--el-color-primary);
  border-right: 3px solid #6893f2;
  color: var(--el-color-white);
}

body .el-menu-item-group__title {
  padding: 0;
}

body .el-menu-vertical:not(.el-menu--collapse) {
  width: 256px;
  height: 100%;
}

body .el-menu-vertical.el-menu--collapse {
  height: 100%;
}

body .el-sub-menu {
  padding-top: 0.5rem;
}

body .el-sub-menu__title.el-tooltip__trigger {
  justify-content: center;
}
/* .el-menu END */

/* .el-pagination */
.el-pagination.is-background .btn-prev:disabled,
.el-pagination.is-background .btn-next:disabled {
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  background: white;
}

.el-pagination.is-background .el-pager li,
.el-pagination.is-background .btn-next,
.el-pagination.is-background .btn-prev {
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  background: white;
  color: black;
}

.el-pagination.is-background .btn-prev:disabled:hover,
.el-pagination.is-background .btn-next:disabled:hover,
.el-pagination.is-background .el-pager li:hover,
.el-pagination.is-background .btn-next:hover,
.el-pagination.is-background .btn-prev:hover,
.el-pagination.is-background .el-pager li.is-active {
  border-radius: 4px;
  border: 1px solid #456dec;
  background: white;
  font-weight: normal;
  color: #456dec;
}
/* .el-pagination END */

/* .el-select */
body .el-select-dropdown__item {
  height: auto;
  border-radius: 0.25rem;
  padding: 0;
}

body .el-select-dropdown__item.selected {
  color: rgba(0, 0, 0, 0.87);
  font-weight: normal;
}

body .el-select-dropdown__header {
  border-bottom: 0;
  padding-bottom: 0;
}
/* .el-select END */

/* .el-table */
body .el-table__row:last-child > td {
  border-bottom: 0;
}

body .el-table .caret-wrapper {
  margin-top: 3px;
}
/* .el-table END*/

body .el-loading-mask {
  height: 100vh;
  z-index: 9999;
}

body .el-upload-dragger {
  background-color: rgba(250, 250, 250, 1);
}

body .upload-error .el-upload-dragger {
  border: none;
}

body .el-scrollbar__view.el-select-dropdown__list {
  padding: 8px;
}

body .el-checkbox__input.is-checked {
  padding-top: 2px;
}

body .dbml-dialog {
  overflow: hidden;
  background: #282c34;
  height: 80%;
}

body .dbml-dialog > .el-dialog__body {
  background: #282c34;
  border: none;
  margin-top: -1px;
  overflow-y: scroll;
  height: 90%;
}

body .dbml-dialog > .el-dialog__header {
  background: #373c55;
  border: 1px solid #373c55;
  margin-right: 0;
}

body .dbml-dialog .el-dialog__title {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  color: white;
}

body .el-upload-dragger:hover {
  border: 1px solid var(--el-color-primary);
  background: var(--Color-Brand-50, #eff4fe);
}

body .dbml-dialog .el-dialog__headerbtn .el-dialog__close {
  color: white;
}

body .el-collapse-item__wrap,
body .el-collapse,
body .el-collapse-item__header {
  border: none;
}

body .el-collapse-item__content {
  padding: 0;
}

body .el-divider--horizontal {
  margin: 16px 0;
}

body .el-collapse-item__header {
  height: auto;
}

body .hiddenInput > .el-input__wrapper {
  box-shadow: none !important;
}

body .el-button.is-disabled,
body .el-button.is-disabled:hover {
  color: #adb4cc;
  border-color: #adb4cc;
  background-color: #f6f7f9;
}

i.el-icon.el-collapse-item__arrow.is-active {
  transform: rotate(-90deg);
}

i.el-icon.el-collapse-item__arrow {
  transform: rotate(90deg);
}

body .el-form-item.form-table > .el-form-item__label {
  margin-top: 7px;
}

body .el-form-item.form-table.conn-set > .el-form-item__label {
  margin-top: 12px;
}

body .el-message-box__status {
  top: 13% !important;
}

body .el-message-box__btns button:nth-child(2) {
  background-color: #ff4d4f !important;
}

body .el-loading-spinner .path {
  stroke: white !important;
}

body .el-loading-mask {
  background-color: rgba(0, 0, 0, 0.6) !important;
}
