:root {
  --el-color-primary-dark: #2f4ee0;
}

/* .el-alert */
.el-alert--success.is-light {
  border: 1px solid;
  margin-top: -1rem;
}

.el-alert--error.is-light {
  border: 1px solid !important;
  margin-top: -1rem;
}

.el-alert__content {
  color: black !important;
  font-weight: 400 !important;
}

.el-alert__title.is-bold {
  font-weight: 400 !important;
}

.el-alert__description {
  color: black !important;
}

.el-alert {
  --el-alert-icon-large-size: 24px !important;
}

.el-alert .el-alert__icon.is-big {
  margin-top: -24px !important;
}
/* .el-alert END*/

/* .el-button */
body .el-button {
  box-shadow: var(--el-box-shadow-button);
}

body .el-button:hover {
  --el-button-hover-text-color: var(--el-color-primary-dark);
  --el-button-hover-bg-color: var(--el-color-white);
  --el-button-hover-border-color: var(--el-color-primary-dark);
  box-shadow: var(--el-box-shadow-button-hover);
}

body .el-button.el-button--primary:hover {
  --el-button-hover-text-color: var(--el-color-white);
  --el-button-hover-bg-color: var(--el-color-primary-dark);
  box-shadow: var(--el-box-shadow-button-hover);
}
/* .el-button END */

/* .el-dialog */
.el-dialog__header {
  font-weight: bold;
  letter-spacing: 1px;
  padding: var(--el-dialog-padding-header);
}

.el-dialog__body {
  border-top: 1px solid lightgray;
}

.el-dialog__footer {
  border-top: 1px solid lightgray;
  padding: var(--el-dialog-padding-footer);
}
/* .el-dialog END*/

/* .el-form */
.login-form > .el-form-item {
  margin-bottom: 2rem;
}
/* .el-form END */

/* .el-form-item */
.el-form-item__error {
  margin: 4px 8px 4px 8px !important;
}

.el-form-item__label {
  padding: 0 !important;
  margin-top: 0.25rem;
}

.conn-set-form > .el-form-item:not(:last-child) {
  margin-bottom: 2rem;
}

.data-mart-upload.el-form-item {
  align-items: center;
}

.data-mart-form > .el-form-item:not(:last-child) {
  margin-bottom: 2rem;
}
/* .el-form-item END */

/* .el-menu */
body .el-menu-item.is-active {
  background-color: var(--el-color-primary);
  border-right: 3px solid #6893f2;
  color: var(--el-color-white);
}

body .el-menu-item-group__title {
  padding: 0;
}

body .el-menu-vertical:not(.el-menu--collapse) {
  width: 256px;
  height: 100%;
}

body .el-menu-vertical.el-menu--collapse {
  height: 100%;
}

body .el-sub-menu {
  padding-top: 0.5rem;
}

body .el-sub-menu__title.el-tooltip__trigger {
  justify-content: center;
}
/* .el-menu END */

/* .el-pagination */
.el-pagination.is-background .btn-prev:disabled,
.el-pagination.is-background .btn-next:disabled {
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  background: white;
}

.el-pagination.is-background .el-pager li,
.el-pagination.is-background .btn-next,
.el-pagination.is-background .btn-prev {
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  background: white;
  color: black;
}

.el-pagination.is-background .btn-prev:disabled:hover,
.el-pagination.is-background .btn-next:disabled:hover,
.el-pagination.is-background .el-pager li:hover,
.el-pagination.is-background .btn-next:hover,
.el-pagination.is-background .btn-prev:hover,
.el-pagination.is-background .el-pager li.is-active {
  border-radius: 4px;
  border: 1px solid #456dec;
  background: white;
  font-weight: normal;
  color: #456dec;
}
/* .el-pagination END */

/* .el-select */
.el-select-dropdown__item {
  height: auto !important;
  border-radius: 0.25rem !important;
  padding: 0 !important;
}

.el-select-dropdown__item.selected {
  color: rgba(0, 0, 0, 0.87) !important;
  font-weight: normal !important;
}

.el-select-dropdown__header {
  border-bottom: 0 !important;
  padding-bottom: 0 !important;
}
/* .el-select END */

/* .el-table */
.el-table__row:last-child > td {
  border-bottom: 0;
}

.el-table .caret-wrapper {
  margin-top: 3px;
}
/* .el-table END*/

.el-loading-mask {
  height: 100% !important;
  z-index: 9999 !important;
}

.el-upload-dragger {
  background-color: rgba(250, 250, 250, 1) !important;
}

.el-scrollbar__view.el-select-dropdown__list {
  padding: 8px !important;
}

.el-checkbox__input.is-checked {
  padding-top: 2px;
}
