@import url('highlight.js/styles/atom-one-dark-reasonable.css');
@import url('assets/css/element.css');

html {
  font-size: 16px;
  height: 100%;
}

body {
  height: 100%;
  max-width: 100%;
  color: rgba(0, 0, 0, 0.87);
  background-color: white;
  margin: 0 auto;
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  line-height: 1.6;
  font-family:
    'Noto Sans TC',
    -apple-system,
    sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

th {
  background-color: rgba(242, 244, 245, 1) !important;
  color: rgba(32, 34, 47, 1) !important;
  font-weight: 400 !important;
}

th:not(:last-child) .cell {
  border-right: 1px solid lightgray !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 8px;
}

.db-type-select-active {
  border: 1px solid #456dec;
  background: white;
  box-shadow:
    0px 5px 12px 4px rgba(0, 0, 0, 0.09),
    0px 3px 6px 0px rgba(0, 0, 0, 0.12),
    0px 1px 2px -2px rgba(0, 0, 0, 0.16);
}

.db-type-select:hover {
  background: #eff4fe;
}

.db-type-select:focus {
  background: #eff4fe;
}

.bg-white.rounded-lg.p-5.shadow-custom-lg {
  height: calc(100vh - 204px);
}

.data-mart-bottom {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.49) 0%, #fff 100%);
  box-shadow: 0px -2px 10px 0px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(2px);
  z-index: 9;
}

/* Login */

.login-model {
  width: 480px;
}

.login-backdrop {
  backdrop-filter: blur(5px);
}

.icon-hover:hover {
  border-radius: 8px;
  border: 1px solid var(--Color-Brand-600, #2f4ee0);
  background: var(--CHER-CEHR-white, #fff);

  /* button/hover or pressed */
  box-shadow: 0px 2px 2px 0px rgba(8, 98, 189, 0.2);
}

.text-hover:hover {
  border-radius: 8px;
  background: var(--Color-Brand-50, #eff4fe);
  color: var(--el-color-primary);
}

pre code.hljs {
  padding: 0;
}

.upload-error {
  border: 1px solid rgb(248 113 113 /400);
  border-radius: 8px;
}

.icon-menu-collapse {
  transform: scaleX(-1);
}

.icon-menu-expend {
  position: absolute;
  left: 280px;
}

.login-bg {
  background-image: url('@/assets/images/imgenie_login_bg.jpg');
  background-size: cover;
}
