@import url('highlight.js/styles/atom-one-dark-reasonable.css');

html {
  font-size: 16px;
  height: 100%;
}

body {
  height: 100%;
  max-width: 100%;
  color: rgba(0, 0, 0, 0.87);
  background-color: white;
  margin: 0 auto;
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  line-height: 1.6;
  font-family:
    "Noto Sans TC",
    -apple-system,
    sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

th {
  background-color: rgba(242, 244, 245, 1) !important;
  color: rgba(32, 34, 47, 1) !important;
  font-weight: 400 !important;
}

th:not(:last-child) .cell {
  border-right: 1px solid lightgray !important;
}

#dbTypeSelectButton:hover {
  background-color: rgba(239, 244, 254, 1);
}

#dbTypeSelectButton:focus {
  border: 1px solid rgba(69, 109, 236, 1);
}

.login-model {
  width: 500px;
}